{% extends "brp_admin_base.html" %}
{% block main_content %}

<div class="container" style="border:1px solid #cecece;">
  <h2> {{ message }} <span class="badge badge-secondary"></span></h2>

    <form method="POST" class="post-form">{% csrf_token %}
      {% for source in context.data_source %}
        <div class="fieldWrapper">
            <h2> {{ source }} </h2>
        </div>
        {% endfor %}
        <button type="submit" name="protocol_user"  class="save btn btn-default">new protocol user</button>
    </form>
</div>

{% endblock %}
