{% extends "base.html" %}


{% block main_content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center" >Add User To Protocol</h1>
    </div>
  </div>

  <div class="container" style="border:1px solid #cecece;">
    <h2> Add Protocol User <span class="badge badge-secondary"></span></h2>

      <form method="POST" class="post-form">{% csrf_token %}
        {% for field in form1 %}
          <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }}: {{ field }}
          </div>
      {% endfor %}
      <button type="submit" class="save btn btn-default">Save</button>
    </form>
      <!-- </form> -->
  </div>

  <!-- <div class="container" style="border:1px solid #cecece;">
    <h2> Add Protocol User Credentials for {{ context.user }} on protocol {{ context.protocol }} <span class="badge badge-secondary"></span></h2>
    <form>
      {% for field in context.form2 %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </div> -->
{% endblock %}
