{% extends "base.html" %}


{% block main_content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center" >Add User To Protocol</h1>
    </div>
  </div>

  <div class="container" style="border:1px solid #cecece;">
    <h2> Add Protocol User <span class="badge badge-secondary"></span></h2>
      <form>
        <div class="form-group row">
          <label for="protocol" class="col-sm-2 col-form-label">Protocol</label>
          <div class="col-sm-10">
            <select class="custom-select">
              <option selected> Open this select menu </option>
              {% for protocol in view.protocols %}
                <option>{{protocol}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="User" class="col-sm-2 col-form-label">User</label>
          <div class="col-sm-10">
            <select class="custom-select">
              <option selected> Open this select menu </option>
              {% for user in view.users %}
                <option>{{user}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="Role" class="col-sm-2 col-form-label">Role</label>
          <div class="col-sm-10">
            <select class="custom-select">
              <option selected> Open this select menu </option>
                <option>Research Coordinator</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="add_user" class="btn btn-primary">Add user</button>
            <button type="get-user_cred" class="btn btn-primary">Get User Credentials</button>
          </div>
        </div>
      </form>
  </div>

  <div class="container" style="border:1px solid #cecece;">
    <h2> Add Protocol User Credentials <span class="badge badge-secondary"></span></h2>
    <form>

    </form>
  </div>
{% endblock %}
