{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block main_content %}



<div class="container" style="border:1px solid #cecece;">
  <h2> Add Protocol User Credentials for {{ context.user }} on protocol {{ context.protocol }} <span class="badge badge-secondary"></span></h2>
    <form id="myform" method="POST" class="post-form">{% csrf_token %}
      {{ context.cred_formset.management_form }}
      {% for cred_form in context.cred_formset %}
      <div class="well well-sm">
        <div class="cred_formset">
          <table>
          {{ cred_form }}
        </table>
          <!-- <label>Data Source:</label>
          {{ cred_form.data_source }}
            {% if cred_form.data_source.errors %}
                {% for error in cred_form.data_source.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
          <label>username:</label>
          {{ cred_form.data_source_username }}
            {% if cred_form.data_source_username.errors %}
                {% for error in cred_form.data_source_username.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
            <label>password:</label>
          {{ cred_form.data_source_password }}
            {% if cred_form.data_source_password.errors %}
                {% for error in cred_form.data_source_password.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
            {% if context.cred_formset.can_delete %}
                  {{ cred_form.DELETE }}
              {% endif %} -->
        </div>
      </div>
      {% endfor %}
        {% if cred_formset.non_form_errors %}
          {% for error in cred_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
      {% endif %}


      <button type="submit" name="submit_creds" class="save btn btn-default">Save Selected</button>
      <a href="{% url 'new_protocol_usr' %}" class="btn btn-primary">Select different user</a>
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/static/js/lib/jquery.formset.js' %}"></script>
<script>
    $('.cred_formset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>
{% endblock %}
