{% extends "base.html" %}


{% block main_content %}

<div class="container" style="border:1px solid #cecece;">
  <h2> Add Protocol User Credentials for {{ context.user }} on protocol {{ context.protocol }} <span class="badge badge-secondary"></span></h2>
    <form method="POST" class="post-form">{% csrf_token %}
      {% for form in context.credential_forms %}
        <div class="well well-sm">

            {% for field in form %}
              <div class="fieldWrapper">
                  {{ field.errors }}
                  {{ field.label_tag }}: {{ field }}
              </div>
            {% endfor %}
        </div>
      {% endfor %}

      <button type="submit" name="submit_creds" class="save btn btn-default">Save</button>
      <a href="{% url 'new_protocol_usr' %}" class="btn btn-primary">Select different user</a>
    </form>
</div>


{% endblock %}
