{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css">
{% endblock %}

{% block topbar_block %}
<p class="navbar-text">Password Reset</p>
{% endblock %}

{% block main_content %}

    <div class="container">

        {% if validlink %}
                       
            <div class="content">
                <form method="post" action="">
                    {% csrf_token %}

                <section>
                    <table>
                        <tr>
                            <th>{{ form.new_password1.label_tag }}</th>
                            <td>{% formfield form.new_password1 %}<br>
                                <span class="info">{{ form.new_password1.help_text }}</span> 
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.new_password2.label_tag }}</th>
                            <td>{% formfield form.new_password2 %}</td>
                        </tr>                    
                    </table>
                </section>

                <div style="text-align:right"><input type="submit" value="Reset Password"></div>

                </form>
            </div>

        {% else %}

            <div class="message warning">This password reset link is not valid. Try resetting
                your password <a href="{% url password-reset %}">again</a>.</div>

        {% endif %}
    </div>

{% endblock %}
