{% extends "base.html" %}

{% comment %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css">
{% endblock %}
{% endcomment %}

{% block topbar_block %}
<p class="navbar-text">Password Reset</p>
{% endblock %}

{% block main_content %}
    <div class="container">

        <div class="content">
            <p class="info">Supply the email address for your account and we will send you
            an email with a link to specify your new password. <b>Note: If you are a CHOP
                employee you are not allowed to reset your password here.</b></p>
            <form method="post" action="">
            <section>
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>{{ form.email.label_tag }}</th>
                            <td>{% formfield form.email %}</td>
                        </tr>
                    </table>
            </section>
            <div style="text-align: right"><input type="submit" value="Reset Password"></div>
            </form>
        </div>
    </div>
{% endblock %}
