<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.min.css" %}">

        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <!--     Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{% static "js/src/jquery-1.7.2.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lib/bootstrap-datepicker.min.js" %}"></script>
        {% block styles %}
        {% endblock %}
        {% block head_content %}
        {% endblock %}
    </head>

    <body>

    <div class="container main-content">
            {% block main_content %}
            {% endblock %}
            {% if request.user.is_authenticated %}
            <div class="navbar navbar-ct-primary navbar-fixed-top" id="old-nav" role="navigation">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        {% block topbar_block %}
                        {% endblock %}
                    </div>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right pull-right">
                        {% block top_links %}
                        {% endblock %}
                        <li><a href="{{root_path}}/logout">Logout</href></a></li>
                    </ul>
                        {% endif %}
                </div>
            </div>
            <div id ="react">
                <center<img src="static/img/loader.gif"/></center>
            </div>
            <script>
                token="{{token}}"
                csrf_token="{{csrf_token}}"
            </script>
            <script src="{% static "js/bundle.js" %}" type="text/javascript"></script>
            {% endif %}
    </div>
    <div style="position: fixed; bottom: 0; right: 0; padding: 10px;">
        <a href="/changelog">v1.0.3</a>
    <div>
    </body>

    <script type="text/javascript" src="{% static "js/src/common.js" %}"></script>

    {% include 'session_security/all.html' %}

    <script type="text/javascript">
        {% block script %}
        {% endblock %}
    </script>

</html>
