<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

        <title>Biorepository Portal</title>
    </head>
    <div class="row" style="padding-top:80px">
        <div class="col-md-6 col-md-offset-4">
            The Biorepository Portal is currently undergoing maintenance.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4"><img src={% static 'img/CHDBHi.png' %}></div>
    </div>
</html>
