{% extends "subject_base.html" %}
{% block head_content %}
<title>Biorepository New Subject</title> 
{% endblock %}

{% block topbar_block %}
<p class="navbar-text">New Subject</p>
{% endblock %}
{% block top_links %}
    <li><a href="{{root_path}}/dataentry/protocol/{{protocol.id}}/">Subjects</href></a></li>
    <li><a href="{{root_path}}/welcome">Projects</href></a></li>
{% endblock %}

{% block form_content %}
<h3>Add new subject to project: {{protocol.name}}</h3>
<form class="well" action="{{root_path}}/dataentry/protocol/{{protocol.id}}/newsubject/" method="post">{% csrf_token %}
    {% if errors %}
        <div>
            <h1>Error:</h1>
            {% for error in errors %}
                <li> {{error}}</li>
            {% endfor %}
        </div>
    {% endif %}
    <table class="bordered-class zebra-striped">
        {{form.as_table}}
    </table>
    <ul style="list-style-type:none">
        <li style="display:inline"><input class="btn btn-primary" type="submit" value="Save" /></li>
        <li style="display:inline"><input class="btn btn-danger" type="button" value="Cancel" onclick="location.href='{{root_path}}/dataentry/protocol/{{protocol.id}}/'"/></li>
    </ul>
</form>

{% endblock %}
