{% extends "base.html" %}

{% block main_content %}

	{% block form_content %}
	{% endblock %}

	<div style="display:none" id="subject_id_labels">
		organization.subject_id_label
	</div>

</div>

{% endblock %}

{% block script%}
jQuery(document).ready(function() {
	var organization_ids = []
	{% for o in organizations %}
		organization_ids.push({{o.id}});
	{% endfor %}
	
	var organization_names = []
	{% for o in organizations %}
		organization_names.push('{{o.name}}');
	{% endfor %}
	
	var subject_id_labels = []
	{% for o in organizations %}
		subject_id_labels.push('{{o.subject_id_label}}');
	{% endfor %}
	
	var selected_org_id = '{{selected_organization}}'; 
	
	var $labels = $('label');
	function update_subject_id_labels(label){
		$labels.each(function(i){
			if($(this).attr('for')==='id_subject_id'){
				$(this).html(label+':');
			}
			if($(this).attr('for')==='id_subject_id_verify'){
				$(this).html('Verify '+label+':');
			}
		});
	}
	
	var $org_select = $('#id_organization');
	//add the dyanmic options to the organization select
	$.each(organization_ids, function(i){
		var id = organization_ids[i];
		var name = organization_names[i];
		var subj_id_label = subject_id_labels[i];
		var opt = '<option value="' + id + '"' + 'subj_id_label="' + subj_id_label  +'">' + name + '</option>';
		$org_select.append(opt);
	});
	
	//if this form is the result of an invalid form maintain organization selection and labels
	if (selected_org_id != 0){
		$org_select.val(selected_org_id);
		$org_select.children().each(function(i){
			if($(this).attr('value')===selected_org_id){
				update_subject_id_labels($(this).attr('subj_id_label'));
			}
		});
	}
	
	//bind change function to organization select
	$org_select.change(function(){
		var v = $(this).val()
		$(this).children().each(function(i){
			if($(this).attr('value')===v){
				update_subject_id_labels($(this).attr('subj_id_label'));
			}
		});
	});
})

    {% block form_script %}
    {% endblock %}

{% endblock %}
