{% extends "subject_base.html" %}

<script>
$(function() {
  $( "#id_dob" ).datepicker({
          format: 'yyyy-mm-dd'
  });
});

$(function() {
  $( "#id_dob" ).datepicker()
      .on('changeDate', function(ev){
          $(this).datepicker('hide');
          // and clear out any existing warnings:
          var datespanEl = $("#datespan_dob")[0];
          datespanEl.innerHTML = "";
  });
});

$(function () {
  $("#todaybutton").on('click', function () {
      var textField = $("#id_dob")[0];
      var today = new Date();
      var monthstr = today.getMonth() + 1;
      if (monthstr < 10) {
          monthstr = '0' + monthstr;
      }
      var datestr = today.getDate();
      if (datestr < 10) {
          datestr = '0' + datestr;
      }
      var todaystr = today.getFullYear() + "-" + monthstr + "-" + datestr;
      textField.value = todaystr;

      // and clear out any existing warnings:
      var datespanEl = $("#datespan_dob")[0];
      datespanEl.innerHTML = "";
  });
});

$(function () {
  $("#id_dob").on('blur', function () {
      // valiDate() function:

      var parts, day, month, year;
      var dateField = $(this)[0];
      var dateStr = dateField.value;

      // clear out any existing warnings:
      var datespanEl = $("#datespan_dob")[0];
      datespanEl.innerHTML = "";

      if (dateStr == "") {
          return true;
      }

      // Part 1: check for the expected format without validating the #s:
      if(!/^\d{4}\-\d{1,2}\-\d{1,2}$/.test(dateStr)) {
         // format is not as expected, but is it a variation we can auto-fix?
         if(/^\d{4}\/\d{1,2}\/\d{1,2}$/.test(dateStr)) {
             // date-delimiter '/' used instead of '-', auto-fix:
             dateStr = dateStr.replace(/\//g, '-');
             dateField.value = dateStr;
         }
         else if (/^\d{1,2}[-\/]\d{1,2}[-\/]\d{4}$/.test(dateStr)){
             // MM[-/]DD[-/]YYYY possibly used instead, auto-fix:
             parts   = dateStr.split(/[-\/]/);
             dateStr = parts[2] + "-" + parts[0] + "-" + parts[1];
             dateField.value = dateStr;
         }
         else {
             datespanEl.innerHTML = "ERROR: Expecting YYYY-MM-DD date format";
             return false;
         }
      }

      // Part 2: now that all seems to be YYYY-MM-DD format, validate MM&DD #s:
      parts   = dateStr.split(/-/);
      year    = parseInt(parts[0], 10);
      month   = parseInt(parts[1], 10);
      day     = parseInt(parts[2], 10);

      if(month <= 0 || month > 12) {
          datespanEl.innerHTML = "ERROR: month does not validate for YYYY-MM-DD";
          return false;
      }

      var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

      // Adjust for leap years
      if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0)) {
          monthLength[1] = 29;
      }

      if (day <= 0 || day > monthLength[month - 1]) {
          datespanEl.innerHTML = "ERROR: day of month does not validate for YYYY-MM-DD";
          return false;
      }

      return true;
  });
});
</script>

{% block head_content %}
<title>Subject Edit</title>
{% endblock %}

{% block topbar_block %}
<p class="navbar-text">Subject Edit</p>
{% endblock %}
{% block top_links %}
    <li><a href="{{root_path}}/dataentry/protocol/{{protocol.id}}/">Subjects</href></a></li>
    <li><a href="{{root_path}}/welcome">Projects</href></a></li>
{% endblock %}

{% block form_content %}
<h3>Edit subject information on project {{protocol.name}}</h3>
<form class="well" action="{{root_path}}/dataentry/protocol/{{protocol.id}}/editsubject/{{subject.id}}/" method="post">{% csrf_token %}
	{% if errors %}
		<div>
			<h1>Error:</h1>
			{% for error in errors %}
				<li> {{error}}</li>
			{% endfor %}
		</div>
	{% endif %}
	<table class="table">
		{{form.as_table}}
	</table>
	<ul class="unstyled">
		<li style="display:inline"><input class="btn btn-small btn-primary" type="submit" value="Save" /></li>
		<li style="display:inline"><input class="btn btn-small btn-danger" type="button" value="Cancel" onclick="location.href='{{root_path}}/dataentry/protocol/{{protocol.id}}/'"/></li>
	</ul>
</form>

{% endblock %}
