{% extends "base.html" %}

{% block head_content %}
<title>Biorepository Subject Select</title>
{% endblock %}

{% block topbar_block %}
<p class="navbar-text">Subject List</p>
{% endblock %}
{% block top_links %}
    <li><a href="{{root_path}}/welcome">Projects</href></a></li>
{% endblock %}


{% block main_content %}
<h3>Project: {{protocol.name}}</h3>
<div id="toolbar">
    <ul class="list-unstyled">
       <li><input class="btn btn-success" type="button" value="New Subject" onclick="location.href='{{root_path}}/dataentry/protocol/{{protocol.id}}/newsubject/'" /></li>
    </ul>
</div>



<div class="subject-table">
    <table id="subject_table" class="table table-striped">
	<thead>
	    <tr>
		<th>Group</th>
		<th>MRN</th>
	{% if addl_id_column %}
	<th>{{addl_id_column.label}}</th>
	{% endif %}
		<th data-defaultsort="asc">Last Name</th>
		<th>First Name</th>
		<th>Birth Date</th>
		<th data-defaultsort="disabled">Actions</th>
            </tr>
	</thead>
	<tbody>
	{% for s in subjects %}
	    <tr class="subject_row" oid="{{s.organization_id}}" filter="f">
		<td class="subject-text">{{s.organization_name}}</td>
		<td class="subject-text">{{s.organization_subject_id}}{% if s.external_ids %}<br><span class="external-ids"> External IDs: <br>{% for ex_id in s.external_ids %}{{ex_id.label_desc}}: {{ex_id.record_id}}<br>{% endfor %}</span>{% endif %}</td>
	{% if addl_id_column %}
	<td class="subject-text">{% if s.external_ids %}{{s.external_ids.0.record_id}}{% endif %}</td>
	{% endif %}
	<td class="subject-text">{{s.last_name}}</td>
		<td class="subject-text">{{s.first_name}}</td>
		<td class="subject-text">{{s.dob}}</td>
                <td>
                    <table class="table-condensed" style="border:none">
                        <tbody>
                        <tr style="border:none">
                            <td style="border:none"><button class="btn btn-small btn-primary" onclick="location.href='{{root_path}}/dataentry/protocol/{{protocol.id}}/editsubject/{{s.id}}/'">Edit PHI</button></td>
                            {% for pds in authorized_data_sources %}
                                <td style="border:none"><button class="btn btn-small btn-primary" onclick="location.href='{{root_path}}/dataentry/protocoldatasource/{{pds.id}}/subject/{{s.id}}/list/'">{{pds.display_label}}</button></td>
                            {% endfor %}
                            {% for pds in unauthorized_data_sources %}
                                <td style="border:none"><button class="btn btn-small" disabled title="No Credentials Found. Please contact the administrator for further information.">{{pds.display_label}}</button></td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}

$(document).ready(function() {
    $("#subject_table").DataTable();
})

{% endblock %}
