.logo {
    margin-top:9px;
    margin-left:15px;
    margin-bottom: 10px;
}
.navbar {
    background-color: #51b6c8;
}

body{
    margin-top: 80px;
    padding-bottom: 70px;
}
.navbar-text{
    color:white !important;
    margin-top:30px;
}
.navbar-fixed-bottom {
    background-color: white;
}
h2 {
    color: #777;
}
h3 {
    color: #777;
}
.container>p{
    color: #777;
}
.navbar-default .navbar-nav>li>a{
    font-weight: bold;
    color: white;
    margin-right: 20px;
}
.btn-primary {
    color: white;
    background-color: #51b6c8;
    border-color: #D4D4D4;
}
.btn-register {
    background-color: #D4D4D4;
}
.btn-success {
    background-color: #6AC771;
}
.btn-success:hover {
    background-color: #77CA8D;
}

.btn-primary:hover {
    background-color: #55A3B1;
    border-color: #D4D4D4;
}
.label-primary {
    background-color: #51b6c8;
}
table {
    font-size: .8em;
}
.splash-container {
  background-image: url("lab.jpg");
  background-size: contain;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 100%;
  top: 30px;
  left: 0;
  position: absolute !important;
}
.login {
    margin-top: 80px;
    border-radius: 30px;
    color: white;
}
a {
    color: #7a7a7a;
}
.status-pane {
    color: #7a7a7a;
}
.info {
    padding-top: 50px;
}
