{% extends "base.html" %}
{% comment %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css">
{% endblock %}
{% endcomment %}

{% block topbar_block %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="col-md-12" style="margin-bottom:40px">
            <center>
            You will be receiving an email shortly with instructions on how to
            activate your account.</center>
        </div>
    </div>
{% endblock %}
